#Translations
Name[es]=Escritorio
GenericName[es]=Configuraciones del escritorio
Comment[es]=Cambia el fondo de pantalla y el comportamiento del escritorio
