#Translations
Name[ru_RU]=Диспетчер файлов PCManFM
GenericName[ru_RU]=Диспетчер файлов
Comment[ru_RU]=Просматривайте файловую систему и управляйте файлами